body {
    background: #f0f2f5;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
    color: #e50914;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }
  
  .col-2 i {
    font-size: 60px;
    color: black;
  }
  
  p {
    font-size: 20px;
    font-weight: 10px;
  }
  
  ul {
    margin: 0;
    padding: 10;
    font-weight: 40px;
  }
  li {
    list-style: none;
    font-size: 16px;
    line-height: 5px;
    height: 25px;
  }
  
  .col-6 i {
    color: #fee953;
    font-size: 60px;
  }
  
  .date {
    font-size: 12px;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }
  
  .city {
    font-size: 18px;
  }
  